h1{
    color:yellow;
    font-family: Lucida Sans;
    background-color:tomato;
}
li{
    color: white;
    background-color: black;
}
ol{
    color: wheat;
    background-color: red;
}
ul{
    color: white;
    background-color: blue;
}